// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';

$font-stack: Lato, sans-serif;
$c-white: #FFFFFF;
$c-black: #393939;
$c-gray: #E1E2E5;
$c-darkgray: #9B9DA0;
$c-accent: #FF3434;

@import 'font-awesome';
@import 'box-sizing';
@import 'reset';
@import 'layout';
@import 'components/nav-bar';
@import 'components/hero';
@import 'components/form';
