.container {
  max-width: 45rem;
  margin: 0 auto;

  &__horizontal {
    max-width: 70rem;
    width: 100%;
    margin: 0 auto;
  }
}

.section {
  margin: 1rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -1rem;

  &__item {
    flex-basis: calc(100% / 3 - 1rem - 1rem);
    flex-grow: 1;
    margin: 1rem;
    flex-wrap: wrap;

    &-img {
      border-radius: 0.4rem;
      height: 15rem;
    }

    &-title {
      color: $c-gray-font;
      font-size: 1rem;
    }

    &-subtitle {
      color: $c-black-font;
      font-size: 1.5rem;
    }

    &-bottom {
      border-top: 0.1rem solid $c-gray-accent;
      display: flex;
      flex-direction: row;
    }

    &-place {
      display: flex;
      flex-direction: column;
      border-right: 0.1rem solid $c-gray-accent;
      width: 50%;
    }

    &-cost {
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      width: 50%;
    }
  }
}

.grid__item-location,
.grid__item-price {
  color: $c-gray-font;
  margin: 1rem 0 0;
}

.grid__item-city,
.grid__item-money {
  margin: 0.5rem 0 0;
}

@media only screen and (max-width: 350px) {
  .grid {
    display: flex;
    margin: -1rem;
    flex-direction: column;
    //     flex-wrap: wrap;
  }

  .grid__item {
    flex-basis: calc(100%);
    flex-grow: 1;
    margin: 1rem;
  }
}
@media only screen and (max-width: 1100px) {
  .grid__media {
    &-item {
      flex-grow: 1;
      flex-basis: 100%;
    }
  }

  .grid__media-item-img:first-child {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
  }
  @media only screen and (max-width: 550px) {
    .grid {
      display: flex;
      flex-direction: column;

      &__item {
        flex-grow: 1;
        flex-basis: 100%;

        &-img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
