.hero {
  display: flex;
  flex-direction: column;

  &__content {
    text-align: center;
    margin-top: 15rem;


    @media (min-width: 350px) and (max-width: 700px) {
      .hero__content-tagline {
        font-size: 1rem;
      }
    }
    &-tagline {
      color: $c-white;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }

  &__background {
    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.00) 100%), url('/images/hero.png') no-repeat center;
    background-size: cover;
    height: 45rem;
  }
}
